.Container{
  background-color: #363740;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.Container p{
  text-align: center;
  margin-top: 10px;
  color: black;
}
.RegisterInputContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px;
}

.RegisterInputField{
  width: 240px;
  height: 42px;
  border-radius: 8px;
  border: 1px #f0f1f7;
  outline: none;
  
}
.RegisterInputField::placeholder {
  padding-left: 5px;
}

.RegisterInputFieldPassword{
width: 240px;
height: 42px;
border-radius: 8px;
border: 1px #f0f1f7;
outline: none;}
.RegisterInputFieldPassword::placeholder {
  padding-left: 5px;
}
.RegisterInputFieldHeader{
  color: grey;
  align-self: flex-start;
  margin-bottom: 5px;
  margin-top: 20px;;
}
.RegisterInputFieldContainer{
  display: flex;
  flex-direction: column;
}

.RegisteredLabel{
  color: grey;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
}

.EmailExistsErr{
  color: red;
}
.registerFooter{
text-align: center;
color: black;
}